html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body{
    background-image: url("/images/bg.jpg");
    max-width: 600px;
    margin: auto;
    font-family: 'Geologica', sans-serif;
}

.head{
    text-align: center;
}